.nav-bar {
  background-color: white;
  border-bottom: 7px solid rgb(182, 35, 35);
}

.logo {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  font-size: 50px;
  color: rgb(182, 35, 35);
}

.header {
  display: inline-block;
  color: darkorange;
  font-size: 50px;
  font-style: italic;
}

.nav {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.item {
  margin: 0;
  padding: 10px;
  display: inline-block;
  color: rgb(182, 35, 35);
}

.item:hover {
  color: darkorange;
  background-color: rgb(182, 35, 35);
  cursor: pointer;
}
